@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Changa:wght@600&family=Creepster&family=Tourney:wght@600&display=swap");

.header {
  display: flex;
  font-family: "Tourney";
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  align-items: center;
  background-color: var(--header-bg);
  color: #f5f3ff;
  font-size: 3.2rem;
  font-weight: bolder;
}

.theme {
  background: none;
  border: none;
  padding: 1.2rem;

  cursor: pointer;
}

